<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navBar"></nav>

	<div class="container">
	<br></br>
		<form action="/delivery/save" th:object="${delivery}" method="POST">
			
			<input type="hidden" th:field="${delivery.deliveryId}"/>
		
			<input type="text" placeholder="Company Name" th:field="${delivery.companyName}"> 
			
			<textarea type="text" placeholder="Enter Company Description" th:field="${delivery.description}"></textarea>
			
			<!-- multiple sets many can be selected at a time -->
			<select th:field="*{items}" multiple="multiple">
				<option th:each = "item : ${allItems}"
						th:value = "${item.itemId}"
						th:text = "${item.name}">
			</select>
			
			<select th:field="*{distance}">
				<option th:value = "LOCAL">Local</option>
				<option th:value = "LONG">Long Distance</option>
				<option th:value = "OVERSEAS">Overseas</option>
			</select>
			
			<button type="submit">Create Delivery</button>
		</form>
	</div>
</body>

</html>
