<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navBar"></nav>

	<div class="container">
	<br></br>
		<h3> Current Items </h3>
		<hr>
			<a th:href="@{/delivery/new}" class ="btn btn-primary btn-sm mb-3">
			New Delivery
			</a>
		<br></br>
		<table class = "table table-bordered table-striped">
			<thead class = "thead-dark">
				<tr>
					<th> Delivery No. </th>
					<th> Company Name </th>
					<th> Action </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="delivery : ${deliveryList}">
					<td th:text="${delivery.deliveryId}"/>
					<td th:text="${delivery.companyName}"/>
					<td>
						<a th:href="@{/delivery/update(id=${delivery.deliveryId})}" 
							class="btn btn-info btn-sm">
							Update
						</a>
						<a th:href="@{/delivery/delete(id=${delivery.deliveryId})}" 
							class="btn btn-danger btn-sm"
							onClick="if (!(confirm('Are you sure you want to delete this item?'))) return false">
							Delete
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>